{% extends "bootstrap/base.html" %}

{% block styles %}
  <meta charset="utf-8">
  <title>Funciones</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename= 'img/icon.ico') }}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <style>
  :root{
    --gold1:#F4BD76;
    --gold2:#F6CD8F;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --black1: #9C9C9B;
    --black2: #30353B;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
  }
  body {
  margin: 0;
  font-family: "Lato", sans-serif;
  }

  .sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #154360;
  position: fixed;
  height: 100%;
  overflow: auto;
  }

  .sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  }

  .sidebar a.active {
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);color: white;
  color: white;
  }

  .sidebar a:hover:not(.active) {
  background-color: #D0D3D4;
  color: white;
  }

  div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  }

  @media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  }

  @media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  }
  </style>
{% endblock %}

{% block title %} Cine MinTi {% endblock %}

{% block content %}
  <div class="sidebar">
    <a class="active" href="{{ url_for('home') }}"><i class="fas fa-ticket-alt"></i> Cine MinTic</a>
    <a href="{{ url_for('manage_movies') }}"><i class="fas fa-film"></i> Peliculas</a>
    <a href="{{ url_for('manage_functions') }}"><i class="fas fa-theater-masks"></i> Funciones</a>
    <a href="{{ url_for('manage_users') }}"><i class="fas fa-users"></i> Roles y Usuarios</a>
    <a href="#logout"><i class="fas fa-sign-out-alt"></i> Cerrar Sesion</a>
  </div>
  <nav style="background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);color: white;" class="navbar justify-content-between">
    <a class="navbar-brand"><i class="fas fa-ticket-alt"></i> Cine MinTic</a>
    <i style="font-size:20px" class="fas fa-user"></i>
  </nav>
  <div class="content">
    <h2 style="margin:15px;"><i class="fas fa-theater-masks"></i> Funciones</h2>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Horario</th>
        <th scope="col">Portada</th>
        <th scope="col">Estado</th>
        <th scope="col">Editar</th>
        <th scope="col">Borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><a href="">122</a></th>
        <td>X-Men: Días del futuro pasado</td>
        <td><b>2D - Dob</b><br> 
        03:20p.m. 04:00p.m. 06:00p.m. 06:40p.m. 09:20p.m. <br>
        <b>3D - Dob</b><b></td>
        <td><img src="/static/img/image1.jpg url" style="max-width: 100px;"></td>
        <td>En cartelera</td>
        <td><a href=""><i class="far fa-edit"></i></a></td>
        <td><a href=""><i class="far fa-trash-alt"></i></a></td>
        
      </tr>
      <tr>
        <th scope="row"><a href="">241</a></th>
        <td>Dolittle</td>
        <td><b>3D - Dob</b><br>
        08:40 p. m.</td>
        <td><img src="/static/img/image2.jpg" style="max-width: 100px;"></td>
        <td scope="col">Pre-venta</td>
        <td><a href=""><i class="far fa-edit"></i></a></td>
        <td><a href=""><i class="far fa-trash-alt"></i></a></td>
      </tr>
      <tr>
        <th scope="row"><a href="">714</a></th>
        <td>Free Guy: tomando el control</td>
        <td><b>2D - Dob</b><br>
        03:20p.m. 04:00p.m. 06:00p.m. 06:40p.m. 09:20p.m. <br>
        <b>3D - Dob</b><br>
        08:40 p. m.</td>      <td><img src="/static/img/image3.jpg" style="max-width: 100px;"></td>
        <td>En cartelera</td>
        <td><a href=""><i class="far fa-edit"></i></a></td>
        <td><a href=""><i class="far fa-trash-alt"></i></a></td>
      </tr>
      <tr>
        <th scope="row"><a href="">314</a></th>
        <td>Shang-Chi y la leyenda de los Diez Anillos
      </td>
        <td><b>2D - Dob</b>  03:40 p. m.06:20 p. m.08:50 p. m.</td>
        <td><img src="/static/img/image4.jpg" style="max-width: 100px;"></td>
    </td>
    <td>En cartelera</td>
        <td><a href=""><i class="far fa-edit"></i></a></td>
        <td><a href=""><i class="far fa-trash-alt"></i></a></td>
      </tr>
      <tr>
        <th scope="row"><a href="">963</a></th>
        <td>Black Widow
      </td>
        <td><b>2D - Dob</b>  03:40p.m. 06:20p.m. 08:50p.m.</td>
        <td><img src="/static/img/image5.jpg" style="max-width: 100px;"></td>
      </td>
        <td>En cartelera</td>
        <td><a href=""><i class="far fa-edit"></i></a></td>
        <td><a href=""><i class="far fa-trash-alt"></i></a></td>
      </tr>
      <tr>
        <th scope="row"><a href="">546	</a></th>
        <td>Sin tiempo para morir</td>
        <td><b>2D - Dob</b>  03:40p.m. 06:20p.m. 08:50p.m.</td>
        <td><img src="/static/img/image6.jpg" style="max-width: 100px;"></td>
    </td>
    <td>En cartelera</td>
        <td><a href=""><i class="far fa-edit"></i></a></td>
        <td><a href=""><i class="far fa-trash-alt"></i></a></td>
      </tr>
    </tbody>
  </table>
  </div>

{% endblock %}

