{% extends "bootstrap/base.html" %}

{% block styles %}
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.ico') }}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <style>
  :root{
    --gold1:#F4BD76;
    --gold2:#F6CD8F;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --black1: #9C9C9B;
    --black2: #30353B;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
  }
  body {
  margin: 0;
  font-family: "Lato", sans-serif;
  }

  .sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #154360;
  position: fixed;
  height: 100%;
  overflow: auto;
  }

  .sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  }

  .sidebar a.active {
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);color: white;
  color: white;
  }

  .sidebar a:hover:not(.active) {
  background-color: #D0D3D4;
  color: white;
  }

  div.content {
  margin-left: 200px;
  padding: 1px 16px;
  }

  @media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  }

  @media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  }
  </style>
{% endblock %}

{% block title %} Cine MisionTic{% endblock %}

{% block content %}
<div class="sidebar">
  <a class="active" href="{{ url_for('home') }}" ><i class="fas fa-ticket-alt"></i> Cine MinTic</a>
  <a href="{{ url_for('manage_movies') }}" ><i class="fas fa-film"></i> Peliculas</a>
  <a href="{{ url_for('manage_functions') }}" ><i class="fas fa-theater-masks"></i> Funciones</a>
  <a href="{{ url_for('manage_users') }}" ><i class="fas fa-users"></i> Roles y Usuarios</a>
  <a href="#logout"><i class="fas fa-sign-out-alt"></i> Cerrar Sesion</a>
</div>
<nav style="background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);color: white;" class="navbar justify-content-between">
  <a class="navbar-brand"><i class="fas fa-ticket-alt"></i> Cine MinTic</a>
  <i style="font-size:20px" class="fas fa-user"></i>
</nav>
<div class="content">
  <h2 style="margin:15px;"><i class="fas fa-users"></i> Roles y Usuarios</h2>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Rol</th>
      <th scope="col">Estado</th>
      <th scope="col">Editar</th>
      <th scope="col">Borrar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><a href="">12</a></th>
      <td>Juan</td>
      <td>Martinez</td> 
      <td>Superadmin</td>
      <td>activo</td>
      <td><a href=""><i class="far fa-edit"></i></a></td>
      <td><a href=""><i class="far fa-trash-alt"></i></a></td>
      
    </tr>
    <tr>
      <th scope="row"><a href="">24</a></th>
      <td>Juan</td>
      <td>Perez</td> 
      <td>administrador</td>
      <td>activo</td>
      <td><a href=""><i class="far fa-edit"></i></a></td>
      <td><a href=""><i class="far fa-trash-alt"></i></a></td>
    </tr>
    <tr>
      <th scope="row"><a href="">76</a></th>
      <td>Carlos</td>
      <td>Martinez</td> 
      <td>Superadmin</td>
      <td>activo</td>
      <td><a href=""><i class="far fa-edit"></i></a></td>
      <td><a href=""><i class="far fa-trash-alt"></i></a></td>
    </tr>
    <tr>
      <th scope="row"><a href="">23</a></th>
      <td>Pedro</td>
      <td>Peter</td> 
      <td>usuario</td>
      <td>activo</td>
      <td><a href=""><i class="far fa-edit"></i></a></td>
      <td><a href=""><i class="far fa-trash-alt"></i></a></td>
    </tr>
    <tr>
      <th scope="row"><a href="">89</a></th>
      <td>Andrea</td>
      <td>Blanco</td> 
      <td>administradro</td>
      <td>activo</td>
      <td><a href=""><i class="far fa-edit"></i></a></td>
      <td><a href=""><i class="far fa-trash-alt"></i></a></td>
    </tr>
    <tr>
      <th scope="row"><a href="">75	</a></th>
      <td>Melisa</td>
      <td>Torregloza</td> 
      <td>usuario</td>
      <td>activo</td>
      <td><a href=""><i class="far fa-edit"></i></a></td>
      <td><a href=""><i class="far fa-trash-alt"></i></a></td>
    </tr>
    <tr>
      <th scope="row"><a href="">65 </a></th>
      <td>Eduar</td>
      <td>Moreno</td> 
      <td>usuario</td>
      <td>activo</td>
      <td><a href=""><i class="far fa-edit"></i></a></td>
      <td><a href=""><i class="far fa-trash-alt"></i></a></td>
    </tr>
    <tr>
      <th scope="row"><a href="">15 </a></th>
      <td>Juan</td>
      <td>Martinez</td> 
      <td>usuario</td>
      <td>activo</td>
      <td><a href=""><i class="far fa-edit"></i></a></td>
      <td><a href=""><i class="far fa-trash-alt"></i></a></td>
    </tr>
  </tbody>
</table>
</div>

{% endblock %}
